{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Feuer | Change Password{% endblock title %}

{% block content %}
    <div class="content-section">
        <h1>Change Password.</h1>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>            
        <form action="." method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Change Password
                </legend>
                {{ form|crispy }}
            </fieldset>
            <button type="submit" class="btn btn-outline-info">Change Password</button>
        </form>
    </div>
{% endblock content %}