{% extends 'blog/base.html' %}

{% block title %}Feuer | About{% endblock title %}

{% block content %}
    <div class="content-section">
        <p>Mening ismim Hojiakbar, Toshkent viloyati Angren shahridanman. Toshkent shahridagi Xalqaro Westminster Universitetining 2-kurs talabasiman. Soham moliya va moliyaviy texnologiyalari bo'lsada, o'zimning aniq fanlar, ayniqsa fizika va komputer texnologiyalariga qiziqishim baland.</p>
        <p>Bu <strong>Python</strong> dasturlash tilining <strong>Django</strong>  nomli veb-framevorki orqali yartaligan shaxsiy blogdir. Bu mening ilk ko'zga ko'rinarli (yoki rezyumega qo'ysa bo'ladigan :D) proyektimdir. Saytning asosiy qismi YouTubedagi <a href="https://youtu.be/UmljXZIypDc" target="_blank">CoreyMS</a>ning Django haqidagi videolariga asoslangan. O'zim bir qancha yangicha xususiyatlarini qo'shdim.</p>
        <p>Sayt haqida fikr-mulohazalaringiz bo'lsa, <a href="https://t.me/HBarotov/"  target="_blank">Telegram</a> yoki <a href="https://github.com/HBarotov" target="_blank">GitHub</a>da qoldirishingiz mumkin. Sizning fikrlaringiz men uchun qadrli :)</p>
    </div>
    <hr>
    <div class="content-section">
        <p>Hey, I am Hojiakbar, from Angren, Tashkent Region. I am a sophomore at WIUT. Though I study finance and fintech, my passion lies in STEM, especially physics and IT. </p>
        <p>This blog was created with <strong>Django</strong>, a web-framework of <strong>Python</strong>. The blog is my first project, which is worth adding to my CV :D. Anyways, The Django playlist of <a href="https://youtu.be/UmljXZIypDc" target="_blank">CoreyMS</a> on YouTube is the backbone of this site, though I added quite a few features myself.</p>
        <p>Any suggestions? Reach me at <a href="https://t.me/HBarotov/"  target="_blank">Telegram</a> or <a href="https://github.com/HBarotov" target="_blank">GitHub</a>. I appreciate them :)</p>
    </div>
{% endblock content %}